<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>타이틀</title>
    <script
      src="{{url_for('static', filename='jquery/jquery-3.6.0.min.js')}}"
      type="text/javascript"
    ></script>
    <script src="{{url_for('static', filename='js/index.js')}}" type="text/javascript"></script>
  </head>
  <body>
    <button id="a">테스트시작</button>
    <img id="img" src="{{url_for('static', filename='img/0.jpg')}}" />
  </body>
</html>